@page "/components/charts/barchart"

@using MudBlazor.Demo.BW.Pages.Components.Charts.BarChartNS

<h3>BarChart.razor</h3>

<h4>BarChartNS/Bar.razor</h4>

<Bar />

<h4>BarChartNS/CustomSVGContent.razor</h4>

<CustomSVGContent />

