@page "/components/charts/donutchart"

@using MudBlazor.Demo.BW.Pages.Components.Charts.DonutChartNS

<h3>DonutChart.razor</h3>

<h4>DonutChartNS/Basic.razor</h4>

<Basic />

<h4>DonutChartNS/Legend.razor</h4>

<Legend />

<h4>DonutChartNS/CustomSVGContent.razor</h4>

<CustomSVGContent />