@page "/components/charts/linechart"

@using MudBlazor.Demo.BW.Pages.Components.Charts.LineChartNS

<h3>LineChart.razor</h3>

<h4>LineChartNS/Basic.razor</h4>

<Basic />

<h4>LineChartNS/YAxisTicks.razor</h4>

<YAxisTicks />

<h4>LineChartNS/Interpolation.razor</h4>

<Interpolation />

<h4>LineChartNS/HideChartSeries.razor</h4>

<HideChartSeries />
