@page "/components/charts/stackedbarchart"

@using MudBlazor.Demo.BW.Pages.Components.Charts.StackedBarChartNS

<h3>StackedBarChart.razor</h3>

<h4>StackedBarChartNS/Basic.razor</h4>

<Basic />

<h4>StackedBarChartNS/CustomSVGContent.razor</h4>

<CustomSVGContent />