@page "/components/formsinputs/autocomplete"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.AutocompleteNS

<h3>Autocomplete.razor</h3>

<h4>AutocompleteNS/VisualPlayground.razor</h4>

<VisualPlayground />

<h4>AutocompleteNS/Usage.razor</h4>

<Usage />

<h4>AutocompleteNS/Presentation.razor</h4>

<Presentation />

<h4>AutocompleteNS/PresentationExtras.razor</h4>

<PresentationExtras />

<h4>AutocompleteNS/Validation.razor</h4>

<Validation />

<h4>AutocompleteNS/KeyboardNavigation.razor</h4>

<KeyboardNavigation />

<h4>AutocompleteNS/Progress.razor</h4>

<AutocompleteProgress />

<h4>AutocompleteNS/StrictMode.razor</h4>

<StrictMode />

<h4>AutocompleteNS/CancellationTokenComponent.razor</h4>

<CancellationTokenComponent />