@page "/components/formsinputs/checkbox"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.CheckBoxNS

<h3>CheckBox.razor</h3>

<h4>CheckBoxNS/Basic.razor</h4>

<Basic />

<h4>CheckBoxNS/CheckBoxColor.razor</h4>

<CheckBoxColor />

<h4>CheckBoxNS/Labels.razor</h4>

<Labels />

<h4>CheckBoxNS/CheckBoxIcons.razor</h4>

<CheckBoxIcons />

<h4>CheckBoxNS/Dense.razor</h4>

<Dense />

<h4>CheckBoxNS/Sizes.razor</h4>

<Sizes />

<h4>CheckBoxNS/IndeterminateState.razor</h4>

<IndeterminateState />

<h4>CheckBoxNS/Binding.razor</h4>

<Binding />

<h4>CheckBoxNS/CheckBoxReadOnly.razor</h4>

<CheckBoxReadOnly />

<h4>CheckBoxNS/KeyboardNavigation.razor</h4>

<KeyboardNavigation />