@page "/components/formsinputs/fileupload"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.FileUploadNS

<h3>FileUpload.razor</h3>

<h4>FileUploadNS/AnyType.razor</h4>

<AnyType />

<h4>FileUploadNS/Multiple.razor</h4>

<Multiple />

<h4>FileUploadNS/FormValidation.razor</h4>

<FormValidation />

<h4>FileUploadNS/EventOptions.razor</h4>

<EventOptions />

<h4>FileUploadNS/SelectedTemplate.razor</h4>

<SelectedTemplate />

<h4>FileUploadNS/AppendMultipleFiles.razor</h4>

<AppendMultipleFiles />

<h4>FileUploadNS/DragAndDropExample.razor</h4>

<DragAndDropExample />

<h4>FileUploadNS/DragAndDropWithFormValidation.razor</h4>

<DragAndDropWithFormValidation />