@page "/components/formsinputs/form"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.FormNS

<h3>Form.razor</h3>

<h4>FormNS/SimpleFormValidation.razor</h4>

<SimpleFormValidation />

<h4>FormNS/EditFormSupport.razor</h4>

<EditFormSupport />

<h4>FormNS/SimpleFluentValidation.razor</h4>

<SimpleFluentValidation />

<h4>FormNS/FluentValidation.razor</h4>

<FluentValidation />

<h4>FormNS/ValidateOnUserInteraction.razor</h4>

<ValidateOnUserInteraction />

<h4>FormNS/AutomaticallySetLabels.razor</h4>

<AutomaticallySetLabels />

<h4>FormNS/ReadOnlyDisabledForms.razor</h4>

<ReadOnlyDisabledForms />

<h4>FormNS/Customization.razor</h4>

<Customization />