@page "/components/formsinputs/numericfield"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.NumericFieldNS

<h3>NumericField.razor</h3>

<h4>NumericFieldNS/Basic.razor</h4>

<Basic />

<h4>NumericFieldNS/HideSpinButtons.razor</h4>

<HideSpinButtons />

<h4>NumericFieldNS/CultureAndFormat.razor</h4>

<CultureAndFormat />

<h4>NumericFieldNS/BindingValueTypesNullables.razor</h4>

<BindingValueTypesNullables />

<h4>NumericFieldNS/NormalImmediateDebounced.razor</h4>

<NormalImmediateDebounced />

<h4>NumericFieldNS/MouseWheel.razor</h4>

<MouseWheel />