@page "/components/formsinputs/radio"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.RadioNS

<h3>Radio.razor</h3>

<h4>RadioNS/RadioGroup.razor</h4>

<RadioGroup />

<h4>RadioNS/RadioColor.razor</h4>

<RadioColor />

<h4>RadioNS/Dense.razor</h4>

<Dense />

<h4>RadioNS/Sizes.razor</h4>

<Sizes />

<h4>RadioNS/ContentPlacement.razor</h4>

<ContentPlacement />

<h4>RadioNS/ReadOnlyDisabled.razor</h4>

<ReadOnlyDisabled />

<h4>RadioNS/KeyboardNavigation.razor</h4>

<KeyboardNavigation />