@page "/components/formsinputs/select"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.SelectNS

<h3>Select.razor</h3>

<h4>SelectNS/VisualPlayground.razor</h4>

<VisualPlayground />

<h4>SelectNS/Using.razor</h4>

<Using />

<h4>SelectNS/Multiselect.razor</h4>

<Multiselect />

<h4>SelectNS/CustomizedSelectionText.razor</h4>

<CustomizedSelectionText />

<h4>SelectNS/SelectAll.razor</h4>

<SelectAll />

<h4>SelectNS/ValuePresentation.razor</h4>

<ValuePresentation />

<h4>SelectNS/CustomConverter.razor</h4>

<CustomConverter />

<h4>SelectNS/NumericCollection.razor</h4>

<NumericCollection />

<h4>SelectNS/Placement.razor</h4>

<Placement />