@page "/components/formsinputs/slider"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.SliderNS

<h3>Slider</h3>

<h4>SliderNS/Basic.razor</h4>

<Basic />

<h4>SliderNS/Filled.razor</h4>

<Filled />

<h4>SliderNS/StepSliders.razor</h4>

<StepSliders />

<h4>SliderNS/MinMaxValues.razor</h4>

<MinMaxValues />

<h4>SliderNS/Nullable.razor</h4>

<Nullable />

<h4>SliderNS/DisplayTicks.razor</h4>

<DisplayTicks />

<h4>SliderNS/Labels.razor</h4>

<Labels />

<h4>SliderNS/ValueLabel.razor</h4>

<ValueLabel />

<h4>SliderNS/SliderSize.razor</h4>

<SliderSize />

<h4>SliderNS/Vertical.razor</h4>

<Vertical />