@page "/components/formsinputs/switch"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.SwitchNS

<h3>Switch.razor</h3>

<h4>SwitchNS/Basic.razor</h4>

<Basic />

<h4>SwitchNS/SwitchColor.razor</h4>

<SwitchColor />

<h4>SwitchNS/SwitchWithLabel.razor</h4>

<SwitchWithLabel />

<h4>SwitchNS/ThumbIcon.razor</h4>

<ThumbIcon />

<h4>SwitchNS/DifferentDataTypes.razor</h4>

<DifferentDataTypes />

<h4>SwitchNS/SwitchReadOnly.razor</h4>

<SwitchReadOnly />

<h4>SwitchNS/KeyboardNavigation.razor</h4>

<KeyboardNavigation />

<h4>SwitchNS/SwitchSize.razor</h4>

<SwitchSize />