@page "/components/formsinputs/textfield"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.TextFieldNS

<h3>TextField.razor</h3>

<h4>TextFieldNS/Basic.razor</h4>

<Basic />

<h4>TextFieldNS/TypoComponent.razor</h4>

<TypoComponent />

<h4>TextFieldNS/Dense.razor</h4>

<Dense />

<h4>TextFieldNS/TextFieldHelperText.razor</h4>

<TextFieldHelperText />

<h4>TextFieldNS/HelperTextOnFocus.razor</h4>

<HelperTextOnFocus />

<h4>TextFieldNS/TextFieldDisabled.razor</h4>

<TextFieldDisabled />

<h4>TextFieldNS/TextFieldReadOnly.razor</h4>

<TextFieldReadOnly />

<h4>TextFieldNS/ShrinkLabel.razor</h4>

<ShrinkLabel />

<h4>TextFieldNS/TextFieldCounter.razor</h4>

<TextFieldCounter />

<h4>TextFieldNS/Adornments.razor</h4>

<Adornments />

<h4>TextFieldNS/AdornmentColor.razor</h4>

<AdornmentColor />

<h4>TextFieldNS/Focus.razor</h4>

<Focus />

<h4>TextFieldNS/TextFieldSelect.razor</h4>

<TextFieldSelect />

<h4>TextFieldNS/SelectRange.razor</h4>

<SelectRange />

<h4>TextFieldNS/ClearButton.razor</h4>

<ClearButton />

<h4>TextFieldNS/Binding.razor</h4>

<Binding />

<h4>TextFieldNS/ValueTypesNullables.razor</h4>

<ValueTypesNullables />

<h4>TextFieldNS/ImmediateVsDebounced.razor</h4>

<ImmediateVsDebounced />

<h4>TextFieldNS/Multiline.razor</h4>

<Multiline />

<h4>TextFieldNS/AutoGrow.razor</h4>

<AutoGrow />

<h4>TextFieldNS/InputTypes.razor</h4>

<InputTypes />

<h4>TextFieldNS/TextFieldInput.razor</h4>

<TextFieldInput />

<h4>TextFieldNS/TextFieldMask.razor</h4>

<TextFieldMask />