@page "/components/formsinputs/togglegroup"

@using MudBlazor.Demo.BW.Pages.Components.FormsInputs.ToggleGroupNS

<h3>ToggleGroup.razor</h3>

<h4>ToggleGroupNS/Usage.razor</h4>

<Usage />

<h4>ToggleGroupNS/SelectionModeComponent.razor</h4>

<SelectionModeComponent />

<h4>ToggleGroupNS/CustomSelectionStyle.razor</h4>

<CustomSelectionStyle />

<h4>ToggleGroupNS/CustomContent.razor</h4>

<CustomContent />