@page "/components/buttons/buttongroup"

@using MudBlazor.Demo.BW.Pages.Components.Buttons.ButtonGroupNS

<h3>ButtonGroup.razor</h3>

<h4>ButtonGroupNS/Basic.razor</h4>

<Basic />

<h4>ButtonGroupNS/Vertical.razor</h4>

<Vertical />

<h4>ButtonGroupNS/Sizes.razor</h4>

<Sizes />

<h4>ButtonGroupNS/Icon.razor</h4>

<Icon />

<h4>ButtonGroupNS/Split.razor</h4>

<Split />

<h4>ButtonGroupNS/DropShadow.razor</h4>

<DropShadow />

<h4>ButtonGroupNS/Custom Styles</h4>

<CustomStyles />