@page "/components/buttons/button"

@using MudBlazor.Demo.BW.Pages.Components.Buttons.ButtonNS

<h3>Button.razor</h3>

<h3>Buttons</h3>

<h4>ButtonNS/Filled.razor</h4>

<Filled />

<h4>ButtonNS/Text.razor</h4>

<Text />

<h4>ButtonNS/Outlined.razor</h4>

<Outlined />

<h4>ButtonNS/SizeComponent.razor</h4>

<SizeComponent />

<h4>ButtonNS/FullWidth.razor</h4>

<FullWidth />

<h4>ButtonNS/ButtonIcons.razor</h4>

<ButtonIcons />

<h4>Customized Buttons</h4>

<h5>ButtonNS/Styled.razor</h5>

<Styled />

<h5>ButtonNS/Loading.razor</h5>

<Loading />

<h5>ButtonNS/Split.razor</h5>

<Split />

<h5>ButtonNS/ButtonLink.razor</h5>

<ButtonLink />

<h5>ButtonNS/Blank.razor</h5>

<Blank />
