@page "/dark-palette"

<h3>DarkPalette</h3>

<MudThemeProvider DefaultScrollbar="true"
                  @bind-IsDarkMode="_isDarkMode" Theme="_theme" />

<MudSwitch 
    @bind-Value="_isDarkMode" 
    Color="Color.Primary" 
    Class="ma-4" 
    T="bool" Label="Toggle Light/Dark Mode" />

<MudText Class="ma-4">This is example text</MudText>

@code {

    private MudTheme _theme = new();
    private bool _isDarkMode;
}