@page "/components/alert"

@using MudBlazor.Demo.BW.Pages.Components.AlertNS

<h3>Alerts</h3>

<h4>AlertNS/Simple.razor</h4>

<Simple />

<h4>AlertNS/Outlined.razor</h4>

<Outlined />

<h4>AlertNS/Filled.razor</h4>

<Filled />

<h4>AlertNS/Dense.razor</h4>

<Dense />

<h4>AlertNS/NoIcons.razor</h4>

<NoIcons />

<h4>AlertNS/RoundedAndSquare.razor</h4>

<RoundedAndSquare />

<h4>AlertNS/Elevation.razor</h4>

<Elevation />

<h4>AlertNS/ContentAlignment.razor</h4>

<ContentAlignment />

<h4>AlertNS/CloseIconEvent.razor</h4>

<CloseIconEvent />