@page "/components/breakpointprovider"

@using MudBlazor.Demo.BW.Pages.Components.BreakpointProviderNS

<h3>BreakpointProvider.razor</h3>

<h4>BreakpointProviderNS/ElementsCountSlider.razor</h4>

<ElementsCountSlider />

<h4>ListeningToBrowserWindowBreakpointChanges.razor</h4>

<ListeningToBrowserWindowBreakpointChanges />