@page "/components/breadcrumbs"

@using MudBlazor.Demo.BW.Pages.Components.BreadcrumbsNS

<h3>Breadcrumbs.razor</h3>

<h4>BreadcrumbsNS/Basic.razor</h4>

<Basic />

<h4>BreadcrumbsNS/CustomSeparator.razor</h4>

<CustomSeparator />

<h4>BreadcrumbsNS/RenderFragments.razor</h4>

<RenderFragments />

<h4>BreadcrumbsNS/ItemIcons.razor</h4>

<ItemIcons />

<h4>BreadcrumbsNS/ItemTemplate.razor</h4>

<ItemTemplate />

<h4>BreadcrumbsNS/Collapsed.razor</h4>

<Collapsed />