@page "/components/card"

@using MudBlazor.Demo.BW.Pages.Components.CardNS

<h3>Card.razor</h3>

<h4>CardNS/Simple.razor</h4>

<Simple />

<h4>CardNS/Outlined.razor</h4>

<Outlined />

<h4>CardNS/Header.razor</h4>

<Header />

<h4>CardNS/Media.razor</h4>

<Media />

<h4>CardNS/Combined.razor</h4>

<Combined />