@page "/components/carousel"

@using MudBlazor.Demo.BW.Pages.Components.CarouselNS

<h3>Carousel.razor</h3>

<h4>CarouselNS/Example.razor</h4>

<Example />

<h4>CarouselNS/DataBinding.razor</h4>

<DataBinding />

<h4>CarouselNS/CustomTransition.razor</h4>

<CustomTransition />

<h4>CarouselNS/TransitionsPerPage.razor</h4>

<TransitionsPerPage />

<h4>CarouselNS/ElementsTemplates.razor</h4>

<ElementsTemplates />