@page "/components/chips"

@using MudBlazor.Demo.BW.Pages.Components.ChipsNS

<h3>Chips.razor</h3>

<h4>ChipsNS/Filled.razor</h4>

<Filled />

<h4>ChipsNS/Text.razor</h4>

<Text />

<h4>ChipsNS/Outlined.razor</h4>

<Outlined />

<h4>ChipsNS/Closable.razor</h4>

<Closable />

<h4>ChipsNS/Clickable.razor</h4>

<Clickable />

<h4>ChipsNS/ChipsIcons.razor</h4>

<ChipsIcons />

<h4>ChipsNS/Avatars.razor</h4>

<Avatars />

<h4>ChipsNS/Label.razor</h4>

<Label />

<h4>ChipsNS/Sizes.razor</h4>

<Sizes />