@page "/components/chipset"

@using MudBlazor.Demo.BW.Pages.Components.ChipSetNS

<h3>ChipSet.razor</h3>

<h4>ChipSetNS/Single.razor</h4>

<Single />

<h4>ChipSetNS/Multiselection.razor</h4>

<Multiselection />

<h4>ChipSetNS/AddingRemoving.razor</h4>

<AddingRemoving />

<h4>ChipSetNS/Default.razor</h4>

<Default />

<h4>ChipSetNS/Binding.razor</h4>

<Binding />

<h4>ChipSetNS/Variants.razor</h4>

<Variants />

<h4>ChipSetNS/SelectedColor.razor</h4>

<SelectedColor />
