@page "/components/datagrid"

@using MudBlazor.Demo.BW.Pages.Components.DataGridNS

<h3>DataGrid.razor</h3>

<h4>DataGridNS/Default.razor</h4>

<Default />

<h4>DataGridNS/ColumnTypes.razor</h4>

<ColumnTypes />

<h4>DataGridNS/AdvancedDataGrid.razor</h4>

<AdvancedDataGrid />

<h4>DataGridNS/VisualStyling.razor</h4>

<VisualStyling />

<h4>DataGridNS/Editing.razor</h4>

<Editing />

<h4>DataGridNS/Grouping.razor</h4>

<Grouping />

<h4>DataGridNS/Sorting.razor</h4>

<Sorting />

<h4>DataGridNS/AdvancedSorting.razor</h4>

<AdvancedSorting />

<h4>DataGridNS/Filtering.razor</h4>

<Filtering />

<h4>DataGridNS/AdvancedFiltering.razor</h4>

<AdvancedFiltering />

<h4>DataGridNS/RowDetailView.razor</h4>

<RowDetailView />

<h4>DataGridNS/Resizing.razor</h4>

<Resizing />

<h4>DataGridNS/DataAggregation.razor</h4>

<DataAggregation />

<h4>DataGridNS/StickyColumns.razor</h4>

<StickyColumns />

<h4>DataGridNS/ServerSideFilteringSortingPagination.razor</h4>

<ServerSideFilteringSortingPagination />

<h4>DataGridNS/Virtualization.razor</h4>

<Virtualization />

<h4>DataGridNS/VirtualizeServerData.razor</h4>

<VirtualizeServerData />

<h4>DataGridNS/Observability.razor</h4>

<Observability />

<h4>DataGridNS/CultureInfoComponent.razor</h4>

<CultureInfoComponent />

<h4>DataGridNS/ColumnsReordering.razor</h4>

<ColumnsReordering />

<h4>DataGridNS/ColumnsPanel.razor</h4>

<ColumnsPanel />