@page "/components/dialog"

<h3>Dialog.razor</h3>

<h4>Blurry/Dialog.razor</h4>
<h4>Blurry/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.Blurry.Page />

<h4>CustomStyling/Dialog.razor</h4>
<h4>CustomStyling/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.CustomStyling.Page />

<h4>FocusTrap/Dialog.razor</h4>
<h4>FocusTrap/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.FocusTrap.Page />

<h4>FromDialog/Dialog.razor</h4>
<h4>FromDialog/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.FromDialog.Page />

<h4>Inlining/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.Inlining.Page />

<h4>Keyboard/Dialog.razor</h4>
<h4>Keyboard/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.Keyboard.Page />

<h4>NestedCancel/Dialog.razor</h4>
<h4>NestedCancel/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.NestedCancel.Page />

<h4>NestedInline/Dialog.razor</h4>
<h4>NestedInline/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.NestedInline.Page />

<h4>PassingData/Dialog.razor</h4>
<h4>PassingData/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.PassingData.Page />

<h4>PerDialog/Dialog.razor</h4>
<h4>PerDialog/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.PerDialog.Page />

<h4>Scrollable/Dialog.razor</h4>
<h4>Scrollable/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.Scrollable.Page />

<h4>Templating/Dialog.razor</h4>
<h4>Templating/Page.razor</h4>

<MudBlazor.Demo.BW.Pages.Components.DialogNS.Templating.Page />

