@page "/components/divider"

@using MudBlazor.Demo.BW.Pages.Components.DividerNS

<h3>Divider.razor</h3>

<h4>DividerNS/ListDividers.razor</h4>

<ListDividers />

<h4>DividerNS/InsetDividers.razor</h4>

<InsetDividers />

<h4>DividerNS/MiddleDividers.razor</h4>

<MiddleDividers />

<h4>DividerNS/VerticalDividers.razor</h4>

<VerticalDividers />