@page "/components/drawer"

@using MudBlazor.Demo.BW.Pages.Components.DrawerNS

<h3>Drawer.razor</h3>

<h4>DrawerNS/Temporary.razor</h4>

<Temporary />

<h4>DrawerNS/Persistent.razor</h4>

<Persistent />

<h4>DrawerNS/Responsive.razor</h4>

<Responsive />

<h4>DrawerNS/Mini.razor</h4>

<Mini />

<h4>DrawerNS/HideOverlay.razor</h4>

<HideOverlay />

<h4>DrawerNS/AnchorDrawer.razor</h4>

<AnchorDrawer />

<h4>DrawerNS/LeftRightDrawer.razor</h4>

<LeftRightDrawer />

<h4>DrawerNS/Clipping.razor</h4>

<Clipping />

<h4>DrawerNS/CustomBreakpoint.razor</h4>

<CustomBreakpoint />

<h4>DrawerNS/MiniDrawerCustomization.razor</h4>

<MiniDrawerCustomization />

<h4>DrawerNS/TemporaryDrawers.razor</h4>

<TemporaryDrawers />

<h4>DrawerNS/PersistentDrawersInsideMudDrawerContainer.razor</h4>

<PersistentDrawersInsideMudDrawerContainer />