@page "/components/element"

@using MudBlazor.Demo.BW.Pages.Components.ElementNS

<h3>Element.razor</h3>

<h4>ElementNS/BasicExample.razor</h4>

<BasicExample />

<h4>ElementNS/ObtainingElementReference.razor</h4>

<ObtainingElementReference />