@page "/components/expansionpanels"

@using MudBlazor.Demo.BW.Pages.Components.ExpansionPanelsNS

<h3>ExpansionPanels.razor</h3>

<h4>ExpansionPanelsNS/SimpleUsage.razor</h4>

<SimpleUsage />

<h4>ExpansionPanelsNS/MultipleExpandedPanels.razor</h4>

<MultipleExpandedPanels />

<h4>ExpansionPanelsNS/AsyncLoadingData.razor</h4>

<AsyncLoadingData />

<h4>ExpansionPanelsNS/Disabled.razor</h4>

<Disabled />

<h4>ExpansionPanelsNS/Padding.razor</h4>

<Padding />

<h4>ExpansionPanelsNS/Borders.razor</h4>

<Borders />

<h4>ExpansionPanelsNS/CustomizingHeaderIcons.razor</h4>

<CustomizingHeaderIcons />