@page "/components/grid"

@using MudBlazor.Demo.BW.Pages.Components.GridNS

<h3>Grid.razor</h3>

<h4>GridNS/Spacing.razor</h4>

<Spacing />

<h4>GridNS/Basic.razor</h4>

<Basic />

<h4>GridNS/GridWithBreakpoints.razor</h4>

<GridWithBreakpoints />

<h4>GridNS/LineBreak.razor</h4>

<LineBreak />

<h4>GridNS/GridBuilder.razor</h4>

<GridBuilder />

