@page "/components/hidden"

@using MudBlazor.Demo.BW.Pages.Components.HiddenNS

<h3>Hidden.razor</h3>

<h4>HiddenNS/HowItWorks.razor</h4>

<HowItWorks />

<h4>HiddenNS/ResizeEvents.razor</h4>

<ResizeEvents />