@page "/components/highlighter"

@using MudBlazor.Demo.BW.Pages.Components.HighlighterNS

<h3>Highlighter.razor</h3>

<h4>HighlighterNS/HighlighterMudList.razor</h4>

<HighlighterMudList />

<h4>HighlighterNS/HighlighterMudTable.razor</h4>

<HighlighterMudTable />

<h4>HighlighterNS/Markup.razor</h4>

<Markup />

<h4>HighlighterNS/Style.razor</h4>

<Style />

<h4>HighlighterNS/MultipleHighlights.razor</h4>

<MultipleHighlights />