@page "/components/iconscomponent"

@using MudBlazor.Demo.BW.Pages.Components.IconsComponentNS

<h3>Icons.razor</h3>

<h4>IconsComponentNS/Usage.razor</h4>

<Usage />

<h4>IconsComponentNS/ColorComponent.razor</h4>

<ColorComponent />

<h4>IconsComponentNS/SizeComponent.razor</h4>

<SizeComponent />

<h4>IconsComponentNS/MaterialVariants.razor</h4>

<MaterialVariants />

<h4>IconsComponentNS/CssClassBasedFontIcons.razor</h4>

<CssClassBasedFontIcons />

<h4>IconsComponentNS/TextBasedFontIcons.razor</h4>

<TextBasedFontIcons />

<h4>IconsComponentNS/CustomSvgIcons.razor</h4>

<CustomSvgIcons />