@page "/components/imagecomponent"

@using MudBlazor.Demo.BW.Pages.Components.ImageComponentNS

<h3>ImageComponent.razor</h3>

<h4>ImageComponentNS/Usage.razor</h4>

<Usage />

<h4>ImageComponentNS/SizeComponent.razor</h4>

<SizeComponent />

<h4>ImageComponentNS/ResponsiveImages.razor</h4>

<ResponsiveImages />

<h4>ImageComponentNS/ImageComponentFit.razor</h4>

<ImageComponentFit />

<h4>ImageComponentNS/Position.razor</h4>

<Position />

<h4>ImageComponentNS/Playground.razor</h4>

<Playground />