@page "/components/link"

<h3>Link.razor</h3>

<h4>Simple Links</h4>

<MudLink Href="#">Default</MudLink>
<MudLink Href="#" Typo="Typo.body2">Different Typography</MudLink>
<MudLink Href="#" Disabled="true">Disabled link</MudLink>

<h4>Underlines</h4>

<MudLink Href="#">Default</MudLink>
<MudLink Href="#" Underline="Underline.Always">Always</MudLink>
<MudLink Href="#" Underline="Underline.None">None</MudLink>

<h4>OnClick</h4>

<MudLink OnClick="Count" Href="/components/link#onclick">Count and go</MudLink>
<MudLink OnClick="Count">Count</MudLink>
<MudText>Counter: @counter</MudText>

@code {
    private int counter = 0;

    private void Count() => counter++;
}