@page "/components/lists"

@using MudBlazor.Demo.BW.Pages.Components.ListsNS

<h3>Lists.razor</h3>

<h4>ListsNS/Simple.razor</h4>

<Simple />

<h4>ListsNS/Nested.razor</h4>

<Nested />

<h4>ListsNS/SingleSelection.razor</h4>

<SingleSelection />

<h4>ListsNS/Multiselection.razor</h4>

<Multiselection />

<h4>ListsNS/Interactive.razor</h4>

<Interactive />

<h4>ListsNS/ListsAvatar.razor</h4>

<ListsAvatar />