@page "/components/menu"

@using MudBlazor.Demo.BW.Pages.Components.MenuNS

<h3>Menu.razor</h3>

<h4>MenuNS/Simple.razor</h4>

<Simple />

<h4>MenuNS/Customization.razor</h4>

<Customization />

<h4>MenuNS/MenuItemCustomization.razor</h4>

<MenuItemCustomization />

<h4>MenuNS/MenuWidth.razor</h4>

<MenuWidth />

<h4>MenuNS/MaxHeightMenu.razor</h4>

<MaxHeightMenu />

<h4>MenuNS/IconButtons.razor</h4>

<IconButtons />

<h4>MenuNS/CustomActivator.razor</h4>

<CustomActivator />

<h4>MenuNS/MouseEvents.razor</h4>

<MouseEvents />

<h4>MenuNS/CursorPosition.razor</h4>

<CursorPosition />

<h4>MenuNS/Placement.razor</h4>

<Placement />

<h4>MenuNS/NestedMenu.razor</h4>

<NestedMenu />