@page "/components/messagebox"

@using MudBlazor.Demo.BW.Pages.Components.MessageBoxNS

<h3>MessageBox.razor</h3>

<h4>MessageBoxNS/Message.razor</h4>

<Message />

<h4>MessageBoxNS/CustomMessageBox.razor</h4>

<CustomMessageBox />

<h4>MessageBoxNS/MultilineMessage.razor</h4>

<MultilineMessage />

<h4>MessageBoxNS/MessageDialogOptions.razor</h4>

<MessageDialogOptions />