@page "/components/navmenu"

@using MudBlazor.Demo.BW.Pages.Components.NavMenuNS

<h3>NavMenu.razor</h3>

<h4>NavMenuNS/Basic.razor</h4>

<Basic />

<h4>NavMenuNS/TwoWayBinding.razor</h4>

<TwoWayBinding />

<h4>NavMenuNS/SubGroups.razor</h4>

<SubGroups />

<h4>NavMenuNS/NavMenuIcons.razor</h4>

<NavMenuIcons />

<h4>NavMenuNS/Bordered.razor</h4>

<Bordered />

<h4>NavMenuNS/NavMenuColor.razor</h4>

<NavMenuColor />

<h4>NavMenuNS/NavMenuMargin.razor</h4>

<NavMenuMargin />

<h4>NavMenuNS/Rounded.razor</h4>

<Rounded />

<h4>NavMenuNS/Dense.razor</h4>

<Dense />

<h4>NavMenuNS/OnClick.razor</h4>

<OnClick />