@page "/components/overlay"

@using MudBlazor.Demo.BW.Pages.Components.OverlayNS

<h3>Overlay.razor</h3>

<h4>OverlayNS/AutoClose.razor</h4>

<AutoClose />

<h4>OverlayNS/Absolute.razor</h4>

<Absolute />

<h4>OverlayNS/OverlayColor.razor</h4>

<OverlayColor />

<h4>OverlayNS/Zindex.razor</h4>

<Zindex />

<h4>OverlayNS/Loader.razor</h4>

<Loader />


