@page "/components/pagination"

@using MudBlazor.Demo.BW.Pages.Components.PaginationNS

<h3>Pagination.razor</h3>

<h4>PaginationNS/Usage.razor</h4>

<Usage />

<h4>PaginationNS/Filled.razor</h4>

<Filled />

<h4>PaginationNS/Outlined.razor</h4>

<Outlined />

<h4>PaginationNS/Disabled.razor</h4>

<Disabled />

<h4>PaginationNS/Rectangular.razor</h4>

<Rectangular />

<h4>PaginationNS/Sizes.razor</h4>

<Sizes />

<h4>PaginationNS/ControlButtons.razor</h4>

<ControlButtons />

<h4>PaginationNS/HidePages.razor</h4>

<HidePages />

<h4>PaginationNS/ItemCount.razor</h4>

<ItemCount />

<h4>PaginationNS/TablePagination.razor</h4>

<TablePagination />