@page "/components/pickercolor"

@using MudBlazor.Demo.BW.Pages.Components.PickerColorNS

<h3>ColorPicker.razor</h3>

<h4>PickerColorNS/Basic.razor</h4>

<Basic />

<h4>PickerColorNS/Parts.razor</h4>

<Parts />

<h4>PickerColorNS/ColorPickerViewComponent.razor</h4>

<ColorPickerViewComponent />

<h4>PickerColorNS/ColorPickerModeComponent.razor</h4>

<ColorPickerModeComponent />

<h4>PickerColorNS/CustomPalette.razor</h4>

<CustomPalette />

<h4>PickerColorNS/Alpha.razor</h4>

<Alpha />

<h4>PickerColorNS/SwitchMode.razor</h4>

<SwitchMode />

<h4>PickerColorNS/DialogMode.razor</h4>

<DialogMode />

<h4>PickerColorNS/InlineMode.razor</h4>

<InlineMode />

<h4>PickerColorNS/taticMode.razor</h4>

<StaticMode />

<h4>PickerColorNS/Elevation.razor</h4>

<Elevation />

<h4>PickerColorNS/ExampleUsage.razor</h4>

<ExampleUsage />

<h4>PickerColorNS/DragInteraction.razor</h4>

<DragInteraction />