@page "/components/pickerdate"

@using MudBlazor.Demo.BW.Pages.Components.PickerDateNS

<h3>DatePicker.razor</h3>

<h4>PickerDateNS/Basic.razor</h4>

<Basic />

<h4>PickerDateNS/InputMasking.razor</h4>

<InputMasking />

<h4>PickerDateNS/TextParsing.razor</h4>

<TextParsing />

<h4>PickerDateNS/ReadOnly.razor</h4>

<ReadOnly />

<h4>PickerDateNS/DisableCustomizeDays.razor</h4>

<DisableCustomizeDays />

<h4>PickerDateNS/ActionButtons.razor</h4>

<ActionButtons />

<h4>PickerDateNS/Internationalization.razor</h4>

<Internationalization />

<h4>PickerDateNS/DialogMode.razor</h4>

<DialogMode />

<h4>PickerDateNS/StaticMode.razor</h4>

<StaticMode />

<h4>PickerDateNS/DifferentViews.razor</h4>

<DifferentViews />

<h4>PickerDateNS/Colors.razor</h4>

<Colors />

<h4>PickerDateNS/Elevation.razor</h4>

<Elevation />

<h4>PickerDateNS/GoToDate.razor</h4>

<GoToDate />

<h4>PickerDateNS/FixedValuesUsage.razor</h4>

<FixedValuesUsage />

<h4>PickerDateNS/RangePickerUsage.razor</h4>

<RangePickerUsage />