@page "/components/pickertime"

@using MudBlazor.Demo.BW.Pages.Components.PickerTimeNS

<h3>PickerTime.razor</h3>

<h4>PickerTimeNS/Basic.razor</h4>

<Basic />

<h4>PickerTimeNS/ReadOnly.razor</h4>

<ReadOnly />

<h4>PickerTimeNS/ActionButtons.razor</h4>

<ActionButtons />

<h4>PickerTimeNS/DialogMode.razor</h4>

<DialogMode />

<h4>PickerTimeNS/StaticMode.razor</h4>

<StaticMode />

<h4>PickerTimeNS/OpenToMinutes.razor</h4>

<OpenToMinutes />

<h4>PickerTimeNS/EditMode.razor</h4>

<EditMode />

<h4>PickerTimeNS/Colors.razor</h4>

<Colors />

<h4>PickerTimeNS/Elevation.razor</h4>

<Elevation />

<h4>PickerTimeNS/MinuteSelectionStep.razor</h4>

<MinuteSelectionStep />

<h4>PickerTimeNS/KeyboardNavigation.razor</h4>

<KeyboardNavigation />