@page "/components/pickerdaterange"

@using MudBlazor.Demo.BW.Pages.Components.PickerDateRangeNS

<h3>PickerDateRange.razor</h3>

<h4>PickerDateRangeNS/Basic.razor</h4>

<Basic />

<h4>PickerDateRangeNS/Editable.razor</h4>

<Editable />

<h4>PickerDateRangeNS/CustomFormat.razor</h4>

<CustomFormat />

<h4>PickerDateRangeNS/MinMaxDate.razor</h4>

<MinMaxDate />

<h4>PickerDateRangeNS/ActionButtons.razor</h4>

<ActionButtons />