@page "/components/popover"

@using MudBlazor.Demo.BW.Pages.Components.PopoverNS

<h3>Popover.razor</h3>

<h4>PopoverNS/Simple.razor</h4>

<Simple />

<h4>PopoverNS/DirectionLocation.razor</h4>

<DirectionLocation />

<h4>PopoverNS/OverflowBehaviorComponent.razor</h4>

<OverflowBehaviorComponent />

<h4>PopoverNS/ComplexContent.razor</h4>

<ComplexContent />

<h4>PopoverNS/Inception.razor</h4>

<Inception />