@page "/components/progress"

@using MudBlazor.Demo.BW.Pages.Components.ProgressNS

<h3>Progress.razor</h3>

<h4>ProgressNS/Circular.razor</h4>

<Circular />

<h4>ProgressNS/CircularDeterminate.razor</h4>

<CircularDeterminate />

<h4>ProgressNS/CircularSizes.razor</h4>

<CircularSizes />

<h4>ProgressNS/Linear.razor</h4>

<Linear />

<h4>ProgressNS/LinearDeterminate.razor</h4>

<LinearDeterminate />

<h4>ProgressNS/LinearSizes.razor</h4>

<LinearSizes />

<h4>ProgressNS/MinMax.razor</h4>

<MinMax />

<h4>ProgressNS/Buffer.razor</h4>

<Buffer />

<h4>ProgressNS/Rounded.razor</h4>

<Rounded />

<h4>ProgressNS/Striped.razor</h4>

<Striped />

<h4>ProgressNS/Labels.razor</h4>

<Labels />

<h4>ProgressNS/Vertical.razor</h4>

<Vertical />