@page "/components/rating"
@using MudBlazor.Demo.BW.Pages.Components.RatingNS

<h3>Rating.razor</h3>

<h4>RatingNS/Basic.razor</h4>

<Basic />

<h4>RatingNS/Disabled.razor</h4>

<Disabled />

<h4>RatingNS/ReadOnly.razor</h4>

<ReadOnly />

<h4>RatingNS/Sizes.razor</h4>

<Sizes />

<h4>RatingNS/MaxValue.razor</h4>

<MaxValue />

<h4>RatingNS/IconsAndColor.razor</h4>

<IconsAndColor />

<h4>RatingNS/EventsValueBinding.razor</h4>

<EventsValueBinding />

<h4>RatingNS/KeyboardNavigation.razor</h4>

<KeyboardNavigation />