@page "/components/scrolltotop"

@using MudBlazor.Demo.BW.Pages.Components.ScrollToTopNS

<h3>ScrollToTop.razor</h3>

<h4>ScrollToTopNS/Default.razor</h4>

<Default />

<h4>ScrollToTopNS/Setup.razor</h4>

<Setup />

<h4>ScrollToTopNS/CustomContent.razor</h4>

<CustomContent />