@page "/components/simpletable"

@using MudBlazor.Demo.BW.Pages.Components.SimpleTabNS

<h3>SimpleTable.razor</h3>

<h4>SimpleTabNS/SimpleTab.razor</h4>

<SimpleTab />

<h4>SimpleTabNS/HoverDense.razor</h4>

<HoverDense />

<h4>SimpleTabNS/FixedHeader.razor</h4>

<FixedHeader />