@page "/components/skeleton"
@using MudBlazor.Demo.BW.Pages.Components.SkeletonNS

<h3>Skeleton.razor</h3>

<h4>SkeletonNS/Variants.razor</h4>

<Variants />

<h4>SkeletonNS/Animations.razor</h4>

<Animations />

<h4>SkeletonNS/PulsateExample.razor</h4>

<PulsateExample />

<h4>SkeletonNS/WaveExample.razor</h4>

<WaveExample />