@page "/components/stack"

@using MudBlazor.Demo.BW.Pages.Components.StackNS

<h3>Stack.razor</h3>

<h4>StackNS/Basic.razor</h4>

<Basic />

<h4>StackNS/Direction.razor</h4>

<Direction />

<h4>StackNS/Spacing.razor</h4>

<Spacing />

<h4>StackNS/Wrapping.razor</h4>

<Wrapping />

<h4>StackNS/LineBreak.razor</h4>

<LineBreak />

<h4>StackNS/UsageExample1.razor</h4>

<UsageExample1 />

<h4>StackNS/UsageExample2.razor</h4>

<UsageExample2 />

<h4>StackNS/JustifyComponent.razor</h4>

<JustifyComponent />

<h4>StackNS/Align.razor</h4>

<Align />

<h4>StackNS/Combined.razor</h4>

<Combined />

<h4>StackNS/StretchItemsComponent.razor</h4>

<StretchItemsComponent />

<h4>StackNS/Interactive.razor</h4>

<Interactive />