@page "/components/swipearea"

@using MudBlazor.Demo.BW.Pages.Components.SwipeAreaNS

<h3>SwipeArea.razor</h3>

<h4>SwipeAreaNS/SwipeDirections.razor</h4>

<SwipeDirections />

<h4>SwipeAreaNS/PreventDefaultBrowserBehavior.razor</h4>

<PreventDefaultBrowserBehavior />

<h4>SwipeAreaNS/DrawerExample.razor</h4>

<DrawerExample />

<h4>SwipeAreaNS/DatePickerExample.razor</h4>

<DatePickerExample />