@page "/components/table"

@using MudBlazor.Demo.BW.Pages.Components.TableNS

<h3>Table.razor</h3>

<h4>TableNS/DefaultTable.razor</h4>

<DefaultTable />

<h4>TableNS/ClickEventsForSelectedRow.razor</h4>

<ClickEventsForSelectedRow />

<h4>TableNS/HoverEvents.razor</h4>

<HoverEvents />

<h4>TableNS/TablePaginationFiltering.razor</h4>

<TablePaginationFiltering />

<h4>TableNS/TablePagerCustomization.razor</h4>

<TablePagerCustomization />

<h4>TableNS/Sorting.razor</h4>

<Sorting />

<h4>TableNS/Multiselection.razor</h4>

<Multiselection />

<h4>TableNS/FixedHeaderFooter.razor</h4>

<FixedHeaderFooter />

<h4>TableNS/ColumnGroupTextAlignment.razor</h4>

<ColumnGroupTextAlignment />

<h4>TableNS/InlineEditMode.razor</h4>

<InlineEditMode />

<h4>TableNS/ServerSideFilteringSortingPagination.razor</h4>

<ServerSideFilteringSortingPagination />

<h4>TableNS/ServerSideDataCancellation.razor</h4>

<ServerSideDataCancellation />

<h4>TableNS/RecordTypeSupport.razor</h4>

<RecordTypeSupport />

<h4>TableNS/HeaderFooter.razor</h4>

<HeaderFooter />

<h4>TableNS/TableRelatedData.razor</h4>

<TableRelatedData />

<h4>TableNS/HorizontalScrolling.razor</h4>

<HorizontalScrolling />

<h4>TableNS/TableVirtualization.razor</h4>

<TableVirtualization />

<h4>TableNS/Grouping.razor</h4>

<Grouping />

<h4>TableNS/GroupingCollapsed.razor</h4>

<GroupingCollapsed />

<h4>TableNS/GroupingMultiLevels.razor</h4>

<GroupingMultiLevels />