@page "/components/tabs"

@using MudBlazor.Demo.BW.Pages.Components.TabsNS

<h3>Tabs.razor</h3>

<h4>TabsNS/SimpleTab.razor</h4>

<Simple />

<h4>TabsNS/Centered.razor</h4>

<Centered />

<h4>TabsNS/ScrollingTabs.razor</h4>

<ScrollingTabs />

<h4>TabsNS/CustomScrollIcons.razor</h4>

<CustomScrollIcons />

<h4>TabsNS/TabsPosition.razor</h4>

<TabsPosition />

<h4>TabsNS/IconTabs.razor</h4>

<IconTabs />

<h4>TabsNS/MinimumTabWidth.razor</h4>

<MinimumTabWidth />

<h4>TabsNS/Badges.razor</h4>

<Badges />

<h4>TabsNS/TooltipTabs.razor</h4>

<TooltipTabs />

<h4>TabsNS/Customization.razor</h4>

<Customization />

<h4>TabsNS/SetActivePanel.razor</h4>

<SetActivePanel />

<h4>TabsNS/BindingSelectedPanel.razor</h4>

<BindingSelectedPanel />

<h4>TabsNS/SimpleDynamicTabs.razor</h4>

<SimpleDynamicTabs />

<h4>TabsNS/AdvancedDynamicTabs.razor</h4>

<AdvancedDynamicTabs />