@page "/components/timeline"

@using MudBlazor.Demo.BW.Pages.Components.TimelineNS

<h3>Timeline.razor</h3>

<h4>TimelineNS/Basic.razor</h4>

<Basic />

<h4>TimelineNS/ItemDots.razor</h4>

<ItemDots />

<h4>TimelineNS/DotStyle.razor</h4>

<DotStyle />

<h4>TimelineNS/OrientationPosition.razor</h4>

<OrientationPosition />

<h4>TimelineNS/Opposite.razor</h4>

<Opposite />

<h4>TimelineNS/ItemModifiers.razor</h4>

<ItemModifiers />

<h4>TimelineNS/ItemAlign.razor</h4>

<ItemAlign />

<h4>TimelineNS/TimelineAlignComponent.razor</h4>

<TimelineAlignComponent />
