@page "/components/tooltip"

@using MudBlazor.Demo.BW.Pages.Components.TooltipNS

<h3>Tooltip.razor</h3>

<h4>TooltipNS/Simple.razor</h4>

<Simple />

<h4>TooltipNS/ArrowTooltips.razor</h4>

<ArrowTooltips />

<h4>TooltipNS/ColoredTooltips.razor</h4>

<ColoredTooltips />

<h4>TooltipNS/HtmlTooltips.razor</h4>

<HtmlTooltips />

<h4>TooltipNS/Transitions.razor</h4>

<Transitions />

<h4>TooltipNS/ActivationEvents.razor</h4>

<ActivationEvents />