@page "/components/treeview"

@using MudBlazor.Demo.BW.Pages.Components.TreeViewNS

<h3>TreeView.razor</h3>

<h4>TreeViewNS/Basic.razor</h4>

<Basic />

<h4>TreeViewNS/Usage.razor</h4>

<Usage />

<h4>TreeViewNS/Icons.razor</h4>

<TreeViewIcons />

<h4>TreeViewNS/SingleSelection.razor</h4>

<SingleSelection />

<h4>TreeViewNS/MultiSelection.razor</h4>

<MultiSelection />

<h4>TreeViewNS/BindingItemsDirectly.razor</h4>

<BindingItemsDirectly />

<h4>TreeViewNS/AutoExpand.razor</h4>

<AutoExpand />

<h4>TreeViewNS/ItemTemplate.razor</h4>

<ItemTemplate />

<h4>TreeViewNS/ServerSideData.razor</h4>

<ServerSideData />

<h4>TreeViewNS/CustomLookBehavior.razor</h4>

<CustomLookBehavior />

<h4>TreeViewNS/CustomBodyContent.razor</h4>

<CustomBodyContent />