@page "/components/typography"

@using MudBlazor.Demo.BW.Pages.Components.TypographyNS

<h3>Typography.razor</h3>

<h4>TypographyNS/General.razor</h4>

<General />

<h4>TypographyNS/Alignment.razor</h4>

<Alignment />

<h4>TypographyNS/Inline.razor</h4>

<Inline />